*{
    padding: 0;
    margin: 0;
    border: 0;
}


body{
    width: 100%;
    height: 100%;
    background:url(conan.jpg)  left top ;
    background-size:95% ;

}




/*#################音乐区域位置###################*/
#Music{
	position: absolute;
	left:100px;
  	top:200px;
  	width:400px;
  	height: 150px;
  	border-radius: 25px;
  	background-color: black;
    border:1px solid #1065e6;
    border-radius: 10px;
    outline:none;
}

#Music h2{
	position: relative;
	margin-top: 15px;
	/*top:10px;
	left:150px;*/
	color : yellow;
	text-align: center;
	/*background-color: black; */
	text-shadow: 10px 10px 3px #366;
	font-size: 26px;
  cursor:pointer;

}

#Music_main{
	position: absolute;
	left:50px;
  	top:60px;
}

#change_music input{
  position: absolute;
  left:75px;
  top:740px;
  padding-left:11px; /*搜索文字离边框有距离*/
  text-align:left; font-size:14px;/*设置css文字居左、css字体大小为14px */
  width: 230px;
  height: 50px;
  border:2px solid pink;
  border-radius: 15px;
  outline:none;

}
#change_music button:hover{
  color: red;
  
}

#change_button{
  position: absolute;
  left:330px;
  top: 735px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";

  /*outline:none;*/
}
#random_button{
  position: absolute;
  left:330px;
  top: 770px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
  /*outline:none;*/
}
#one_circulation{
  position: absolute;
  left:400px;
  top: 735px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
}

#search_button{
  position: absolute;
  left:400px;
  top: 770px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
  /*outline:none;*/
}

#lock_button{
  position: absolute;
  left:470px;
  top: 770px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
  /*outline:none;*/
}

#hello_button{
  position: absolute;
  left:470px;
  top: 735px;
  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
  /*outline:none;*/
}
/*####################################################*/

/*#####################LRC歌词区域######################*/

#lrc_box {
	position: absolute;
	left:75px;
  	top:370px;
  	width: 450px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid blue;
    overflow:hidden;
    text-align: center;

}
#lrc_box_img {
  position: absolute;
  left:0px;
    top:0px;
    /*width: 450px;
    height: 350px;*/
    border-radius: 10px;
    border: 2px solid gray;
    overflow:hidden;
    text-align: center;
}

#lrc_box p{
	
}







/*###################Google 样式######################*/
#Google{
	position: absolute;
	left:600px;
  	top:60px;
  	width:700px;
  	height: 150px;
  	background-color: black;
}

#Google h2{
	position: relative;
	/*color: blue;*/
	
	font-size:80px;letter-spacing:-2px;font-family:Arial,Helvetica, Sans-Serif;
	
	cursor:pointer;
}

#span_g_1{
  position: relative;
  color: #1065e6;
  margin-left: 170px;
  
  font-size: 65px;
  cursor:pointer;
}
#span_g_2{
  position: relative;
  color: #df432e;
  
  
  font-size: 65px;
  cursor:pointer;
}
#span_g_3{
  position: relative;
  color: #ffb709;
  
  
  font-size: 65px;
  cursor:pointer;
}

#span_g_4{
  position: relative;
  color: #166df1;
  
  
  font-size: 65px;
  cursor:pointer;
}

#span_g_5{
  position: relative;
  color: #03a25d;
  
  /*text-shadow: 10px 10px 3px #366;*/
  font-size: 65px;
  cursor:pointer;
}

#span_g_6{
  position: relative;
  color: #d64632;
 /*text-align: center;*/

  font-size: 65px;
  cursor:pointer;
}

#baidu_log{
  position: absolute;
  left: 150px;
  top:0px;
  text-align: center;
}

#Google input{
	position: absolute;
	left:0px;
  top:120px;
	padding-left:11px; /*搜索文字离边框有距离*/
	text-align:left; font-size:14px;/*设置css文字居左、css字体大小为14px */
	width: 500px;
	height: 50px;
	border:1px solid #d520c2;
	border-radius: 10px;
	outline:none;

}


#Google button{
  position: absolute;
  left:530px;
  top: 120px;
	width:120px; height:50px; /*设置宽度和高度（使用PS可以准确获取）*/
	cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
	font-size: 25px;
	text-shadow: 5px 5px 3px gray;
	border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;

	/*outline:none;*/
}

#Google button:hover{
  color: blue;
  background-color: gray;
}



#sel_G_B{
  position: absolute;
  left:450px;
  top:65px;
  width:200px;
  height: 100px;
  opacity : 1;
  background-color: black;

}

#main_b_g{
  position: relative;
  color: blue;
  text-align: center;
  text-shadow: 10px 10px 3px #366;
  font-size: 20px;
  cursor:pointer;
  text-decoration:none;/*超链接去掉*/
  opacity : 1;
  background-color: black;
}

#sel_G_B ul{
  display: none;
  overflow:hidden;

}
#sel_G_B  :hover ul{
  display: block;
  text-align:center;
  font-weight:bold;
  overflow:hidden;

  /*text-decoration:none;*/
  /*background-color:gray;*/

}
#sel_G_B ul li{
  border: 1px solid #00F;
  border-radius: 10px;
}
/*
#nav{line-height: 24px;  list-style-type: none; background:#666} 
 
#nav a{display: block; width: 80px; text-align:center} 
 
#nav a:link {color:#666; text-decoration:none} 
#nav a:visited {color:#666;text-decoration:none} 
#nav a:hover {color:#FFF;text-decoration:none;font-weight:bold} 
 
#nav li{float: left; width: 80px; background:#CCC} 
#nav li a:hover{ background:#999} 
#nav li ul{line-height: 27px;  list-style-type: none;text-align:left;left: -999em; width: 180px; position: absolute} 
#nav li ul li{float: left; width: 180px;background:#EFEFEF} 
 
 
#nav li ul a{display: block; width: 156px;text-align:left;padding-left:24px; overflow:hidden} 
 
#nav li ul a:link {color:#666; text-decoration:none} 
#nav li ul a:visited {color:#666;text-decoration:none} 
#nav li ul a:hover {color:#F3F3F3;text-decoration:none;font-weight:normal;background:#C00} 
 
#nav li:hover ul{left: auto} 
#nav li.sfhover ul{left: auto} 
*/
/*#####################Game ####################################*/
#change_game{
  position: absolute;
  left:850px;
    top:770px;
      width:180px; height:40px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
}

#change_game:hover{
  color:green;
}


h1{
	font-size: 30px;
    height: 60px;
    color: #EE3B3B;
    text-shadow: 1px 1px 2px #EE3B3B;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:830px;
  	top:300px;
}

#All_Game {
	left:660px;
  	top:350px;
    width: 550px;
    height: 400px;
    background: white;
    border: 4px solid green;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;

    opacity:0.8;/*   设置透明度*/
}
#Game_Block{
	left:0px;
  	top:0px;
    width: 400px;
    height: 400px;
    background: white;
    border-right: 2px solid blue;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
}



#All_Game #timeText{
	position: absolute;
	left:420px;
  	top:20px;
}
#All_Game #Score{
	position: absolute;
	left:420px;
  	top:200px;
    font-size:30px;letter-spacing:-2px;font-family:Arial,Helvetica, Sans-Serif;
    color: #1065e6;
    text-align: center;
}

#All_Game #Start_1{
	position: absolute;
	left:410px;
  	top:50px;
  	  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
}

#speed_sel_button{
  position: absolute;
  left:450px;
    top:350px;
      width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";
}
#Stop_Game_block{
  position: absolute;
  left:425px;
    top:90px;
      width:110px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";

}

#speed_sel_text{
  position: absolute;
  left:420px;
    top:300px;
}

#All_Game #Restart_1{
	position: absolute;
	left:480px;
  	top:50px;
  	  width:60px; height:30px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 15px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px #366;
  font-family: "Microsoft YaHei";

}

#Stop_Game_block:hover ,#Start_1:hover ,#Restart_1:hover ,#speed_sel_button:hover{
  color: blue;
  background-color: gray;
}


/* ########################## hyperlink ##########################*/

#hyperlink {
	position: absolute;
	left:1350px;
  	top:450px;
  	width: 450px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid #1065e6;
    overflow: hidden;
     background:url(back_h.jpg)  left top ;
    background-size:98% ;
}

#H_1{
  position: absolute;
  left:10px;
  top: 10px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: pink;

  /*outline:none;*/
}

#H_1:hover{
  color: red;
  background-color: gray;
}

#H_2{
  position: absolute;
  left:170px;
  top: 10px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: green;
  color: yellow;

  /*outline:none;*/
}

#H_2:hover{
  color: blue;
  background-color: gray;
}

#H_3{
  position: absolute;
  left:320px;
  top: 10px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: yellow;
  color: blue;

  /*outline:none;*/
}

#H_3:hover{
  color: red;
  background-color: gray;
}
#H_4{
  position: absolute;
  left:90px;
  top: 100px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: #ffb709;
  color: white;

  /*outline:none;*/
}

#H_4:hover{
  color: red;
  background-color: gray;
}
#H_5{
  position: absolute;
  left:250px;
  top: 100px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: #1065e6;
  color: yellow;
  /*outline:none;*/
}

#H_5:hover{
  color: yellow;
  background-color: gray;
}


#H_6{
  position: absolute;
  left:10px;
  top: 190px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: #03a25d;
  color: yellow;

  /*outline:none;*/
}

#H_6:hover{
  color: red;
  background-color: gray;
}

#H_7{
  position: absolute;
  left:170px;
  top: 190px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  background-color: indigo;
  color: white;

  /*outline:none;*/
}

#H_7:hover{
  color: black;
  background-color: gray;
}

#H_8{
  position: absolute;
  left:320px;
  top: 190px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px #366;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px gray;
  background-color: gray;
  color: cyan;

  /*outline:none;*/
}

#H_8:hover{
  color: yellow;
  background-color: gray;
}

#H_9{
  position: absolute;
  left:90px;
  top: 270px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px gray;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  

  /*outline:none;*/
}

#H_9:hover{
  color: indigo;
  background-color: gray;
}

#H_10{
  position: absolute;
  left:250px;
  top: 270px;
  width:120px; height:60px; /*设置宽度和高度（使用PS可以准确获取）*/
  cursor:pointer; /*设置鼠标经过悬停按钮时候鼠标指针变化为“手指”形。*/
  font-size: 25px;
  text-shadow: 5px 5px 3px gray;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px #366;
  

  /*outline:none;*/
}

#H_10:hover{
  color: indigo;
  background-color: gray;
}

/*################################################################*/
#calendar {
  background: url(时间4.jpg);
  background-size:100% ;
	position: absolute;
	left:1350px;
  	top:150px;
  	width: 450px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #d64632;
    cursor: pointer;
}
#calendar h2{
  position: relative;
  
  /*top:10px;
  left:150px;*/
  color : #03a25d;
  text-align: center;
  /*background-color: black; */
  text-shadow: 10px 10px 3px #366;
  font-size: 40px;
  cursor:pointer;
}

#Get_date_year{
  position: absolute;
  color: #1065e6;
  top:50px;
  left:20px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_month{
  position: absolute;
  color: pink;
  top:50px;
  left:150px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_date{
  position: absolute;
  color: #66fc76;
  top:50px;
  left:230px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_week{
  position: absolute;
  color: yellow;
  top:50px;
  left:300px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_hour{
  position: absolute;
  color: #df432e;
  top:150px;
  left:50px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_minute{
  position: absolute;
  color: #03a25d;
  top:150px;
  left:130px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}
#Get_date_second{
  position: absolute;
  color: #66e2fc;
  top:150px;
  left:210px;
  font-size: 50px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}


#Get_date_all{
  position: absolute;
  letter-spacing:0px;font-family:Arial,Helvetica, Sans-Serif;
  top:110px;
  left:380px;
  font-size: 40px;
  text-shadow: 10px 10px 3px #366;
  cursor: pointer;
}








